@font-face {
  font-family: 'Industry';
  src: url("../fonts/industry/Industry-Book-webfont.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Industry Italic';
  src: url("../fonts/industry/Industry-BookItalic-webfont.ttf") format("truetype");
  font-weight: 400;
  font-style: italic; }

@font-face {
  font-family: 'Industry Medium';
  src: url("../fonts/industry/Industry-Medium-webfont.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Industry Medium Italic';
  src: url("../fonts/industry/Industry-MediumItalic-webfont.ttf") format("truetype");
  font-weight: 500;
  font-style: italic; }

@font-face {
  font-family: 'Industry Demi';
  src: url("../fonts/industry/Industry-Demi-webfont.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Industry Demi Italic';
  src: url("../fonts/industry/Industry-DemiItalic-webfont.ttf") format("truetype");
  font-weight: 600;
  font-style: italic; }

@font-face {
  font-family: 'Industry Bold';
  src: url("../fonts/industry/Industry-Bold-webfont.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Industry Bold Italic';
  src: url("../fonts/industry/Industry-BoldItalic-webfont.ttf") format("truetype");
  font-weight: 700;
  font-style: italic; }

@font-face {
  font-family: 'Industry Black';
  src: url("../fonts/industry/Industry-Black-webfont.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Industry Black Italic';
  src: url("../fonts/industry/Industry-BlackItalic-webfont.ttf") format("truetype");
  font-weight: 900;
  font-style: italic; }

@font-face {
  font-family: 'Centima Mono';
  src: url("../fonts/centima/CentimaMono-Bold.otf") format("opentype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Centima Mono Italic';
  src: url("../fonts/centima/CentimaMono-BoldItalic.otf") format("opentype");
  font-weight: 400;
  font-style: italic; }

@font-face {
  font-family: 'Roboto Mono';
  src: url("../fonts/roboto/RobotoMono-Regular.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Roboto Mono Italic';
  src: url("../fonts/roboto/RobotoMono-Italic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic; }

@font-face {
  font-family: 'Roboto Mono Medium';
  src: url("../fonts/roboto/RobotoMono-Medium.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Roboto Mono Medium Italic';
  src: url("../fonts/roboto/RobotoMono-MediumItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic; }

@font-face {
  font-family: 'Roboto Mono Bold';
  src: url("../fonts/roboto/RobotoMono-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Roboto Mono Bold Italic';
  src: url("../fonts/roboto/RobotoMono-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic; }
