// stylesheet :: codepixel.devtools styles

    // ================================================
    // import
    // ================================================

        // variables + mixins
        @import 'utilities/utilities';

        // legacy
        @import 'codepixel.legacy';

    // ================================================
    // top-level shadow hook(s)
    // ================================================

        ::shadow,
        ::shadow ::shadow {

            // ================================================
            // tabbed panes
            // ================================================

                .tabbed-pane-header {

                    border-bottom: 1px solid lighten( $code, 3% ) !important;

                    .tabbed-pane-header-tab {



                    }

                }

            // ================================================
            // filter input
            // ================================================

                input {

                    margin: 0;
                    padding: 0 8px 0 8px;

                    border: 1px solid transparent !important;
                    border-radius: 0px !important;

                    font: {

                        family: $indu-bold !important;
                        size: 9.5px !important;
                        weight: normal !important;

                    }

                    letter-spacing: 0.035em;

                    text: {

                        transform: $low;

                    }

                    // color: $code-pink !important;

                    background-color: lighten( $code, 2% ) !important;

                    transition: $all220;

                    &:focus {

                        border: 1px solid $brite !important;

                    }

                }

            // ================================================
            // console
            // ================================================

                #console-messages {

                    // the emptiness

                }

            // ================================================
            // style group
            // ================================================

                // section
                .styles-section {

                    padding: 16px 8px 16px 8px !important;

                    border-top: none;
                    border-bottom: none;

                    background: {

                        // color: $code;

                    }

                    transition: all 220ms linear 0ms;

                    &:hover {

                        background: {

                            color: lighten( $code, 1% );

                        }

                        ::shadow {

                            input[type='checkbox'] {

                                opacity: 1.000 !important;

                                transition: $all220;

                            }

                        }

                    }

                    // hyperlinks
                    .devtools-link {

                        font: {

                            family: $indu-bold !important;
                            size: 9.5px !important;
                            weight: 600 !important;

                        }

                        letter-spacing: 0.025em !important;

                        text: {

                            decoration: none !important;

                        }

                        color: transparentize( $text, 0.565 ) !important;

                        transition: all 220ms linear 0ms;

                        &:hover {

                            color: $text !important;

                        }

                    }

                    // nested shadow DOM
                    ::shadow {

                        // disabled styles
                        .disabled,
                        .inactive,
                        .overloaded,
                        .not-parsed-ok {

                            opacity: 0.3500 !important;

                        }

                        // toggle buttons
                        input[type='checkbox'] {

                            display: inline-block !important;

                            width: 12px !important;
                            height: 12px !important;
                            margin: 0 2px 0 0  !important;
                            padding: 0 0 0 0 !important;

                            border: none !important;
                            border-radius: 0px !important;

                            font: {

                                family: $indu-bold !important;
                                size: 9.5px !important;
                                weight: 600 !important;

                            }

                            background-color: transparentize( red, 0.825 ) !important;

                            -webkit-appearance: none;

                            opacity: 0.000 !important;

                            transition: $all220;

                            &:before {

                                content: '\eb38' !important;

                                color: red !important;

                            }

                            &:checked {

                                background-color: transparentize( $px-green, 0.825 ) !important;

                                &:before {

                                    content: '\eb3d' !important;

                                    color: $px-green !important;

                                }

                            }

                            &:disabled {

                                background-color: transparentize( red, 0.825 ) !important;

                                &:before {

                                    content: '\eb3c' !important;

                                    color: red !important;

                                }

                            }

                            &:before {

                                display: inline-block !important;

                                width: 12px !important;
                                height: 12px !important;
                                margin: 0 !important;
                                padding: 0 !important;

                                font: {

                                    family: 'codicons' !important;
                                    size: 8px !important;
                                    weight: normal !important;

                                }

                                text: {

                                    align: center !important;

                                }

                            }

                        }

                    }

                    .computed-style {

                        background-color: red !important;

                    }

                    &.computed-style {

                        background-color: red !important;

                    }

                }

            // ================================================
            // computed styles + tree outline
            // ================================================

                // expandable property
                .tree-outline {

                    li.odd-row+.children li,
                    li.odd-row {

                        background-color: $code !important;

                    }

                }

            // ================================================
            // selectors
            // ================================================

                // matches
                .selector-matches {

                    // color: #FF8918 !important;
                    color: #A0DC40 !important;

                }

            // ================================================
            // property + value
            // ================================================

                // globals
                .webkit-css-string,
                .webkit-css-property,
                .value {

                    font: {

                        family: $indu-bold !important;
                        size: 9.5px !important;
                        weight: 600 !important;

                    }

                    letter-spacing: 0.025em !important;

                    text: {

                        rendering: $pixper;

                    }

                    -webkit-font-smoothing: antialiased !important;

                }

                // property
                .webkit-css-property {

                    font: {

                        // style: italic !important;

                    }

                    color: #6AEDFF !important;

                }

                // value
                .value {

                    color: transparentize( $text, 0.105 ) !important;

                    .devtools-link {

                        text: {

                            decoration: none !important;

                        }

                        color: $text;

                    }

                }

            // ================================================
            // toolbar
            // ================================================

                // toolbar
                .styles-sidebar-pane-toolbar {

                    border: none !important;

                }

                // classes
                .styles-element-classes-pane {

                    padding: 8px 2px 4px 10px !important;

                    border-bottom: none !important;

                    background: {

                        color: lighten( $code, 4% ) !important;

                    }

                    // text input
                    .new-class-input {

                        height: 24px !important;
                        margin: 2px 0 5px 0 !important;
                        padding: 0 8px 0 8px !important;

                        overflow: visible;

                        border: 1px solid transparent !important;
                        border-radius: 0px !important;

                        font: {

                            family: $indu-bold !important;
                            size: 9.5px !important;
                            weight: normal !important;

                        }

                        line-height: 24px;

                        letter-spacing: 0.035em;

                        text: {

                            transform: $low;

                        }

                        background-color: $code !important;

                        // transition: border-color 220ms linear 0ms;

                        &:focus {

                            border-color: $brite !important;

                        }

                    }

                    // labels
                    label {

                        display: inline-flex !important;

                        flex-direction: row;
                        justify-content: flex-start;
                        align-items: center;

                        height: 20px !important;
                        margin: 1px 8px 1px 0 !important;
                        padding: 0 !important;

                        font: {

                            family: $indu-bold !important;
                            size: 9.5px !important;
                            weight: 600 !important;

                        }

                        line-height: 16px;

                        letter-spacing: 0.045em !important;

                        text: {

                            rendering: $pixper;

                        }

                        -webkit-font-smoothing: antialiased !important;

                        transition: $all220;

                        &:hover {

                            color: transparentize( $px-green, 0.275 ) !important;

                        }

                    }

                    // checkboxes
                    ::shadow {

                        input[type='checkbox'] {

                            display: inline-block;

                            width: 12px !important;
                            height: 12px !important;
                            margin: 2px 2px 2px 0 !important;
                            padding: 0 0 0 0 !important;

                            border: none !important;
                            border-radius: 0px !important;

                            background-color: transparentize( white, 0.945 ) !important;

                            -webkit-appearance: none;

                            transition: $all220;

                            &:before {

                                content: '' !important;

                                color: red !important;

                            }

                            &:checked {

                                border: none !important;

                                background-color: transparentize( $px-green, 0.825 ) !important;

                                &:before {

                                    content: '\eb3d' !important;

                                    color: $px-green !important;

                                }

                            }

                            &:disabled {

                                background-color: transparentize( white, 0.945 ) !important;

                                &:before {

                                    // content: '\eb3c' !important;

                                    color: red !important;

                                }

                            }

                            &:hover {

                                background: {

                                    color: transparentize( $px-green, 0.825 ) !important;

                                }

                            }

                            &:focus {

                                // margin: 0 !important;

                                border: none !important;

                                outline: none !important;

                                color: $px-blue !important;

                            }

                            &:before {

                                display: inline-block !important;

                                width: 12px !important;
                                height: 12px !important;
                                margin: 0 !important;
                                padding: 0 !important;

                                font: {

                                    family: 'codicons' !important;
                                    size: 8px !important;
                                    weight: normal !important;

                                }

                                text: {

                                    align: center !important;

                                }

                            }

                        }

                    }

                }

                // states
                .styles-element-state-pane {

                    display: flex;

                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: center;

                    min-height: 48px;
                    height: 48px;
                    padding: 0 4px 4px 4px !important;

                    border-bottom: none !important;

                    font: {

                        size: 0px !important;

                    }

                    line-height: 0px !important;

                    background: {

                        color: lighten( $code, 4% ) !important;

                    }

                    // labels
                    label {

                        display: inline-flex !important;

                        flex-direction: row;
                        justify-content: flex-start;
                        align-items: center;

                        height: 20px !important;
                        margin: -6px 0 1px 0 !important;
                        padding: 0 !important;

                        font: {

                            family: $indu-bold !important;
                            size: 9.5px !important;
                            weight: 600 !important;

                        }

                        line-height: 16px;

                        letter-spacing: 0.045em !important;

                        text: {

                            rendering: $pixper;

                        }

                        -webkit-font-smoothing: antialiased !important;

                        transition: $all220;

                        &:hover {

                            color: transparentize( $px-green, 0.275 ) !important;

                        }

                    }

                    // checkboxes
                    ::shadow {

                        input[type='checkbox'] {

                            display: inline-block;

                            width: 12px !important;
                            height: 12px !important;
                            margin: 2px 2px 2px 6px !important;
                            padding: 0 0 0 0 !important;

                            border: none !important;
                            border-radius: 0px !important;

                            background-color: transparentize( white, 0.945 ) !important;

                            -webkit-appearance: none;

                            transition: $all220;

                            &:before {

                                content: '' !important;

                                color: red !important;

                            }

                            &:checked {

                                border: none !important;

                                background-color: transparentize( $px-green, 0.825 ) !important;

                                &:before {

                                    content: '\eb3d' !important;

                                    color: $px-green !important;

                                }

                            }

                            &:disabled {

                                background-color: transparentize( white, 0.945 ) !important;

                                &:before {

                                    // content: '\eb3c' !important;

                                    color: red !important;

                                }

                            }

                            &:hover {

                                background: {

                                    color: transparentize( $px-green, 0.825 ) !important;

                                }

                            }

                            &:focus {

                                // margin: 0 !important;

                                border: none !important;

                                outline: none !important;

                                color: $px-blue !important;

                            }

                            &:before {

                                display: inline-block !important;

                                width: 12px !important;
                                height: 12px !important;
                                margin: 0 !important;
                                padding: 0 !important;

                                font: {

                                    family: 'codicons' !important;
                                    size: 8px !important;
                                    weight: normal !important;

                                }

                                text: {

                                    align: center !important;

                                }

                            }

                        }

                    }

                }

            // ================================================
            // junk drawer
            // ================================================

                .class-name {

                    //

                }

            }

    // ================================================
    // scrollbars
    // ================================================

        // base
        ::-webkit-scrollbar {

            position: absolute;

            right: 0;

            z-index: 1000;

            // display: block;
            display: none;

            width: 0;

            background: {

                color: transparent;

            }

            &:horizontal {

                display: none;

            }

        }

        // buttons
        ::-webkit-scrollbar-button {

            display: none !important;

        }

        // thumb
        ::-webkit-scrollbar-thumb {

            border: none;
            border-radius: 0px;

            background: {

                color: transparentize( $px-blue, 0.865 );

            }

        }

        // track
        ::-webkit-scrollbar-track {

            background: {

                color: transparentize( white, 0.975 );

            }

        }


    // ================================================
    // junk drawer
    // ================================================

    ::shadow .tree-outline-dense > ol > .parent {

      border-top: 1px solid red !important;
    }

        ::shadow .toolbar-button.toolbar-state-on .toolbar-text {
            color: #89f5a2 !important
        }

        .tabbed-pane-header-tab.overrides-activate .tabbed-pane-header-tab-title::after {
            color: #89f5a2 !important
        }

        ::shadow .toolbar-item>.glyph,
        ::shadow .toolbar-item>.glyph:active,
        ::shadow .filter-toolbar-item.toggled-shown .glyph,
        ::shadow button.toolbar-item.toggled-on .glyph {
            background-color: #89f5a2 !important
        }

        ::shadow::shadow .regex-search-toolbar-item.toggled-on .toolbar-button-text,
        ::shadow::shadow .case-sensitive-search-toolbar-item.toggled-on .toolbar-button-text {
            color: #89f5a2 !important
        }

        .toolbar-gray-toggled::shadow .class-toolbar-item.toggled-on {
            background-color: #222 !important
        }

        .toolbar-gray-toggled::shadow .class-toolbar-item.toggled-on .toolbar-button-text {
            color: #89f5a2 !important
        }
